footer
  div
  .footer-select-line
    .footer-select
      button.dropbtn #[span.iconfont.icon-jiantouxia]国际组织
      ul
        li #[a(href="#") 中国国际贸易促进委员会]
        li #[a(href="#") 国际商会]
        li #[a(href="#") 中国对外贸易经济合作企业协会]
        li #[a(href="#") 国际航运协会]
        li #[a(href="#") 亚洲国际贸易投资商会]
        li #[a(href="#") 中国国际贸易学会]
    .footer-select
      button.dropbtn #[span.iconfont.icon-jiantouxia]信息与研究组织
      ul
        li #[a(href="#") 前瞻产业研究院]
        li #[a(href="#") 旗讯网]
        li #[a(href="#") 中研网]
        li #[a(href="#") 产业研究网]
        li #[a(href="#") 中国产业发展研究网]
        li #[a(href="#") 中国产业信息]
        li #[a(href="#") 中国市场信息调查业协会]
        li #[a(href="#") 市场研究协会]
    .footer-select
      button.dropbtn #[span.iconfont.icon-jiantouxia]优秀合作单位
      ul
        li #[a(href="#") 中国中材国际]
        li #[a(href="#") 中国水泥网]
        li #[a(href="#") 天津水泥工业设计研究院]
        li #[a(href="#") 合肥水泥研究设计院有限公司]
        li #[a(href="#") 苏州科大岩土工程技术有限公司]
        li #[a(href="#") 中国有色金属工业西安勘察设计研究院有限公司]
    .footer-select
      button.dropbtn #[span.iconfont.icon-jiantouxia]行业链接
      ul
        li #[a(href="#") 中国中材国际]
        li #[a(href="#") 中国水泥网]
        li #[a(href="#") 天津水泥工业设计研究院]
        li #[a(href="#") 合肥水泥研究设计院有限公司]
  .footer-main
    ul.footer-nav
      li.footer-navlist
        p #[a(href="#") 关于我们]
        ul
          li #[a(href="#") 集团简介]
          li #[a(href="#") 领导致辞]
          li #[a(href="#") 发展历程]
          li #[a(href="#") 组织架构]
          li #[a(href="#") 下属企业]
      li.footer-navlist
        p #[a(href="#") 集团咨询]
        ul
          li #[a(href="#") 集团新闻]
          li #[a(href="#") 集团公告]
          li #[a(href="#") 行业动态]
          li #[a(href="#") 子公司动态]
          li #[a(href="#") 信息公示]
      li.footer-navlist
        p #[a(href="#") 产品与业务]
        ul
          li #[a(href="#") 产品研发]
          li #[a(href="#") 进出口贸易]
          li #[a(href="#") 物流运输]
          li #[a(href="#") 装配式建筑]
          li #[a(href="#") 特种玻璃]
          li #[a(href="#") 钢铁业务]
      li.footer-navlist
        p #[a(href="#") 营销服务]
        ul
          li #[a(href="#") 服务理念]
          li #[a(href="#") 营销网络]
      li.footer-navlist
        p #[a(href="#") 企业文化]
        ul
          li #[a(href="#") 经营理念]
          li #[a(href="#") 核心价值]
          li #[a(href="#") 西控风采]
          li #[a(href="#") 内部刊物]
          li #[a(href="#") 企业宣传片]
      li.footer-navlist
        p #[a(href="#") 人力资源]
        ul
          li #[a(href="#") 人才战略]
          li #[a(href="#") 最新招聘]
    .footer-qrcode-block
      img(src="", alt="")
      p 扫一扫进入企业官网
      .fooet-tel #[span 电话]00242065872323
  .footer-sharebar
    .footer-viewsnum 总浏览量：#[span 6588888]
    .footer-sharelist
      a(href="#") #[span.iconfont.icon-facebook]
      a(href="#") #[span.iconfont.icon-tuite]
      a(href="#") #[span.iconfont.icon-kakao-talk-fill]
      a(href="#") #[span.iconfont.icon-Whatsapplogo]
  .copyright
    a(href="#") 法律声明
    a(href="#") 隐私保护
    a(href="#") 联系我们
    div
      a(href="#") ©2020 公司 
      a(href="#") 技术支持：JJ网络
a.totop(href="#")
  span.iconfont.icon-shangjiantou.anim-toTopLoop
  span Top