header
  .navbar
    .container.flex
      a.logo(href="#", style="background-image:url(images/logo1.png)") Logo
      ul.nav
        li.fir-navitem
          a.nav-text(href="#") 首页
        li.fir-navitem
          a.nav-text(href="#") 关于我们
          .nav-card.container
            .header-sec-card
              ul
                li: a(href="#"): span.iconfont.icon-jianjie 集团简介
                li: a(href="#"): span.iconfont.icon-jianjie 领导致辞
                li: a(href="#"): span.iconfont.icon-jianjie 发展历程
                li: a(href="#"): span.iconfont.icon-jianjie 组织架构
                li: a(href="#"): span.iconfont.icon-jianjie 下属企业
            .nav-card-img
              img.nav-img(src="", alt="")
              p: a(href="#") 了解更多#[span.iconfont.icon-youjiantou]
        li.fir-navitem
          a.nav-text(href="#") 集团资讯
          .nav-card.container
            .header-sec-card
              ul
                li: a(href="#"): span.iconfont.icon-jianjie 集团新闻
                li: a(href="#"): span.iconfont.icon-jianjie 集团公告
                li: a(href="#"): span.iconfont.icon-jianjie 行业动态
                li: a(href="#"): span.iconfont.icon-jianjie 子公司动态
                li: a(href="#"): span.iconfont.icon-jianjie 信息公示
            .nav-card-img
              img.nav-img(src="", alt="")
              p: a(href="#") 了解更多#[span.iconfont.icon-youjiantou]
        li.fir-navitem
          a.nav-text(href="#") 产品与业务
          .nav-card.container
            .header-sec-card
              ul
                li: a(href="#"): span.iconfont.icon-jianjie 产品研发
                li: a(href="#"): span.iconfont.icon-jianjie 进出口贸易
                li: a(href="#"): span.iconfont.icon-jianjie 物流运输
                li: a(href="#"): span.iconfont.icon-jianjie 装配式建筑
                li: a(href="#"): span.iconfont.icon-jianjie 特种玻璃
                li: a(href="#"): span.iconfont.icon-jianjie 钢铁业务
            .nav-card-img
              img.nav-img(src="", alt="")
              p: a(href="#") 了解更多#[span.iconfont.icon-youjiantou]
        li.fir-navitem
          a.nav-text(href="#") 营销服务
          .nav-card.container
            .header-sec-card
              ul
                li: a(href="#"): span.iconfont.icon-jianjie 服务理念
                li: a(href="#"): span.iconfont.icon-jianjie 营销网络
            .nav-card-img
              img.nav-img(src="", alt="")
              p: a(href="#") 了解更多#[span.iconfont.icon-youjiantou]
        li.fir-navitem
          a.nav-text(href="#") 企业文化
          .nav-card.container
            .header-sec-card
              ul
                li: a(href="#"): span.iconfont.icon-jianjie 经营理念
                li: a(href="#"): span.iconfont.icon-jianjie 核心价值
                li: a(href="#"): span.iconfont.icon-jianjie 西控风采
                li: a(href="#"): span.iconfont.icon-jianjie 内部刊物
                li: a(href="#"): span.iconfont.icon-jianjie 企业宣传片
            .nav-card-img
              img.nav-img(src="", alt="")
              p: a(href="#") 了解更多#[span.iconfont.icon-youjiantou]
        li.fir-navitem
          a.nav-text(href="#") 人力资源
          .nav-card.container
            .header-sec-card
              ul
                li: a(href="#"): span.iconfont.icon-jianjie 人才战略
                li: a(href="#"): span.iconfont.icon-jianjie 最新招聘
            .nav-card-img
              img.nav-img(src="", alt="")
              p: a(href="#") 了解更多#[span.iconfont.icon-youjiantou]
        li.fir-navitem
          a.nav-text(href="#") 联系我们
          .nav-card.container
            .header-sec-card
              ul
                li: a(href="#"): span.iconfont.icon-jianjie 联系方式
                li: a(href="#"): span.iconfont.icon-jianjie 在线地图
            .nav-card-img
              img.nav-img(src="", alt="")
              p: a(href="#") 了解更多#[span.iconfont.icon-youjiantou]
  .lan-change
    a.lan-btn(href="#") #[span.iconfont.icon-diqiu]语言选择
    ul.lan-select
      li: a(href="#") 中文
      li: a(href="#") English
      li: a(href="#") Português
      li: a(href="#") Français
  .search-input-hidden
    span.iconfont.icon-guanbi#close_searchinput
    form(action="#")
      input(type="text", placeholder="搜索更多")
      button(type="submit"): span.iconfont.icon-sousuo
  a.search-btn(href="#"): span.iconfont.icon-sousuo