a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

header {
  position: fixed;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.flex {
  display: flex;
}

.logo {
  flex-basis: auto;
  width: 408px;
  background-repeat: no-repeat;
  text-indent: -999px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.fir-navitem {
  flex: 1;
  text-align: center;
}

.fir-navitem:first-of-type {
  flex: 0.7;
}

.nav-card {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.nav-card:hover,
.fir-navitem:hover .nav-card {
  height: unset;
  visibility: visible;
  opacity: 1;
  transition: all 0.6s;
}
